/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 /
30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
64 / 80 / 96 / 128 / 144 / 160
*/



/* Abaixo de 1280px && 577 (portátil de 13.3) */
@media (max-width: 1280px) and (max-height: 577.33px) {

  /* 1rem === 7px */
  html {
    font-size: 43.75%;
  }

  /* Em ambos, diminuição de 10% em relação ao tamanho original */
  .flag__container--1 {
    max-width: 32.12rem !important;
    max-height: 21.03rem !important; 
  }

  .flags__container--2 {
    gap: 2.4rem !important;
  }
  
  .flag__container--2 {
    max-width: 21.38rem !important;
    max-height: 12.11rem !important;
  }
  
}


@media (max-width: 1280px) and (max-height: 577.33px) {

  
}


/* abaixo de 1100px */
@media (max-width: 68.75em) {

  .main__container {
    /* width: 90%; */
  }


}