.flags__container--1 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.flag__container--1 {
  /* Você pode se perguntar, porque não usou porcentagem? */
  /*
    Muitas bandeiras ficaram completamente distorcidas por conta das suas diferentes proporções
    De maneira que depois de muitos testes o tamanho p/ a maioria delas ficar bem apresentável é esta
  */
  max-width: 41.25rem;
  max-height: 23.37rem; 

 
}

.hide__correct {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  
  transform: rotate3d(1, 0, 0, 90deg);
}